venv
.DS_Store
.idea
.vscode
__pycache__
*.pyc
data/**/*.mp3
model/text/*.pkl  
model/audio/*.pkl
data/**/*.png
model/**/pytorch_model.bin
model/**/model.safetensors
model/**/optimizer.pt
model/**/scheduler.pt
model/**/rng_state.pth
model/**/trainer_state.json
model/**/training_args.bin
