venv
venv 2
*.mp4
graphite-scout-419207-9810cb841b6d.json
.DS_Store
.idea
.vscode
__pycache__
join-the-siege.git.bfg-report
*.pyc
model
spectrogram_data
train_data/**/*.mp3
model/**/text/*.pkl  
model/**/audio/*.pkl
train_data/**/*.png
test_data/**/*.png
model/**/pytorch_model.bin
model/**/model.safetensors
model/**/optimizer.pt
model/**/scheduler.pt
model/**/rng_state.pth
model/**/trainer_state.json
model/**/training_args.bin
train_data/**
test_data/**
